* {
    font-family: var(--font-pretendard), sans-serif;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    margin: 0;
    background-color: #000;
    width: 100%;
    min-height: 100dvh;
    overflow-x: hidden;
    overflow-y: auto;
}

body.fontLoading {
    visibility: hidden;
}

body.fontReady {
    visibility: visible;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .1);
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

::selection {
    color: #000;
    background-color: #fff;
}
